
    <div class="d-table border w-100 p-2 mb-2 shadow">
        <div class="d-table-cell w-75">
            <p class="m-0">Name: <b>{{name}}</b></p>
            <p class="m-0">Email: {{email}}</p>
        </div>
        <div class="d-table-cell w-25 text-right align-middle">
            <a class="del-hero" id="{{id}}" href="javascript:void(0)">Delete</a>
        </div>
    </div>
